/* Reset styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* Global styles */
  body {
    background: url(bg1.svg) center no-repeat;
    background-size: cover;
    background-color: hsl(238, 82%, 13%);
    color: #ffffff;

    display: grid;
    align-content: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;

    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
  }
  
  main{
    display: grid;
  }

  .container {
    background-color: #5c5959;

    width: 80vw;
    padding: 20px;
    border-radius: 15px;
  }
  
  .btns {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 20px;
    gap: 30px ;
  }
  
  .btns button {
    background-color: #007bff;
    color: #fff;

    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.300);
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }
  
  .btns button:hover {
    background-color: #0062cc;
  }
  
  #login{
    display: grid;
  }

  #register{
    display: none;
  }
  
  .login-form label,
  .register-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .login-form input,
  .register-form input,
  .login-form button,
  .register-form button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  
  .login-form button,
  .register-form button {
    background-color: #007bff;
    color: #fff;

    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.300);
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }
  
  .login-form button:hover,
  .register-form button:hover {
    background-color: #0062cc;
  }

    /* Tablet Querie */
    @media (min-width: 768px) {
      .btns {
        display: flex;
        justify-content: center;
        padding: 10px;
        margin: 20px;
        gap: 90px ;
      }
    }

    /* Laptop Querie */
    @media (min-width: 992px) {
      .container {
        width: 40vw;
      }

      .btns {
        gap: 100px ;
      }
    }

    /* Desktop Querie */
    @media (min-width: 1200) {
      .container {
        width: 20vw;
      }

      .btns {
        gap: 150px ;
      }
    }

